<p>
  home feed, only when logged in
</p>
<a (click)="onLogOut()" stlye="cursor: pointer">log out</a>
<hr>
<h3>subscriptions ({{aSubscriptions.length}})</h3>
<!--{{aSubscriptions | json}}-->
<div *ngIf="aSubscriptions.length > 0">
    <div *ngFor="let feed of aSubscriptions">
        <a href="">{{feed.name}}</a>
    </div>
</div>

<h3>items ({{aFeedItems.length}})</h3>
<!--{{aFeedItems | json}} -->
<div *ngIf="aFeedItems.length > 0">
    <div *ngFor="let item of aFeedItems">
        <a target="_blank" href="{{item.url}}">{{item.title}}</a>
    </div>
</div>
<hr>
<h3>add feed</h3>


    <app-add-feed></app-add-feed>
