<p>
  home feed, only when logged in
</p>
<a (click)="onLogOut()" stlye="cursor: pointer">log out</a>
<hr>
<h3>feeds ({{aFeedItems.length}})</h3>
<!--{{aFeedItems | json}} -->
<div *ngIf="aFeedItems.length > 0">
    <div *ngFor="let item of aFeedItems">
        <a target="_blank" href="{{item.url}}">{{item.title}}</a>
    </div>
</div>
<hr>
<h3>add feed</h3>

<form (ngSubmit)="onAddFeed(frmAddFeed)" #frmAddFeed="ngForm" >
    <input type="text" name="name" [(ngModel)]="oAddFeed.name">
    <input type="text" name="url" [(ngModel)]="oAddFeed.url">
    <button type="submit">add</button>
</form>
